{% extends 'base.html' %}
{% block content %}

<h1>About My Mood</h1>

<div class="card text-white bg-secondary mb-3">
    <div class="card-header">Date: {{mood.date}}</div>
    <div class="card-body">
      <h4 class="card-title">Headline: {{mood.headline}}</h4>
      <p class="card-text">Description: {{mood.description}}</p>
    </div>
    <br>
      <div class="card-action">
        <a href="{% url 'moods_update' mood.id %}">Edit</a>
        <a href="{% url 'moods_delete' mood.id %}">Delete</a>
      </div>
  </div>
  <hr>
      <hr>
      <div class="row">
        <div class="col-6">
        {% comment %} <div class="col s6"> {% endcomment %}
      <h3>What I felt today</h3>
      {% if mood.feelings.count %}
        {% for feeling in mood.feelings.all %}
          <div class="card">
        <div class="card-body">
           <h4 class="card-title">{{ feeling.name }}</h4> 
            <h6 class="card-subtitle mb-2 text-muted">Description: {{feeling.designation}}</h6>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h5>No feelings</h5>
      {% endif %}
    </div>
 
    {% comment %} <div class="col s6"> {% endcomment %}
    <div class="col-6">
      <h3>Available feelings</h3>
      {% if feelings.count %}
        {% for feeling in feelings.all %}
        <div class="card">
          <div class="card-body">
             <h4 class="card-title">{{ feeling.name }}</h4> 
              <h6 class="card-subtitle mb-2 text-muted">Description: {{feeling.designation}}</h6>
          </div>
              <div class="card-action">
                <form action="{% url 'assoc_feeling' mood.id feeling.id %}" method="post">
                    {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
              <br>
            </div>
            <br>
            {% endfor %}
          {% else %}
            <h5>You've added all available feelings</h5>
          {% endif %}
        </div>
    </div>
           
            {% comment %} <div class="card-action">
              <form action="{% url 'assoc_feeling' mood.id feeling.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div> {% endcomment %}

{% endblock %}

