asgiref==3.5.2
boto3==1.24.31
botocore==1.27.31
certifi==2022.6.15
charset-normalizer==2.1.0
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.6
django-on-heroku==1.1.2
filelock==3.7.1
giphy-client==1.0.0
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
newsapi-python==0.2.6
pipenv==2022.6.7
platformdirs==2.5.2
psycopg2-binary==2.9.3
python-dateutil==2.8.2
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.10
virtualenv==20.14.1
virtualenv-clone==0.5.7
whitenoise==6.2.0