{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Feeling</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <br>
    <button type="submit" value="Submit!" class="btn btn-primary"> Submit! </button>

  </form>
  <br>

  <script>
    let elementSelect = document.getElementsByTagName("select");
    for (let i=0; i<elementSelect.length; i++)
    {
      let el = elementSelect[i];      
      el.setAttribute( "class", el.getAttribute("class") + " form-select" );
    }
    let elementInput = document.getElementsByTagName("input");
    for (let i=0; i<elementInput.length; i++)
    {
      let elIn = elementInput[i];      
      elIn.setAttribute( "class", elIn.getAttribute("class") + " form-control" );
    }
  </script>
{% endblock %}
