{% extends 'base.html' %}
{% block content %}

<h1>Feeling List</h1>

{% for feeling in feeling_list %}
{% if feeling.designation == "P" %}
<div class="card border-success mb-3">
    <a href="{% url 'feelings_detail' feeling.id %}">
    <div class="card-header">{{ feeling.name }}</div>
    <div class="card-body">
      <p class="card-text">Designation: Positive</p>
    </div>
</a>
</div>
{% elif feeling.designation == "Ne"%}
<div class="card border-warning mb-3">
    <a href="{% url 'feelings_detail' feeling.id %}">
        <div class="card-header">{{ feeling.name }}</div>
        <div class="card-body">
          <p class="card-text">Designation: Neutral</p>
        </div>
    </a>
    </div> 
    {% else%} 
    <div class="card border-dark mb-3">
        <a href="{% url 'feelings_detail' feeling.id %}">
            <div class="card-header">{{ feeling.name }}</div>
            <div class="card-body">
              <p class="card-text">Designation: Negative</p>
            </div>
        </a>
        </div>   
        {% endif %}
{% endfor %}

{% endblock %}
